@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página descreve a política de privacidade do site Nova Mente. Os dados coletados são usados apenas para melhorar a sua experiência e nunca serão compartilhados sem consentimento.</p>
